body {
  background-color: #1f1e2e;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%
  margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper * {
  text-align: center;
}

#current-party-name {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

#waitlist {
  font-size: 36px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

#waitlist li {
  margin-bottom: 10px;
}


input {
  padding: 10px;
  font-size: 24px;
  width: 40%;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #1f1e2e;
  font-weight: bold;
  margin-bottom: 100px;
}

img {
  max-width: 50%;
  margin-top: 5px;
  padding-top: 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form * {
  margin: 5px;
}

h1 {
  font-size: 120px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

